<html>
<head>
  <h1>Petforum.</h1>
</head>
<body>
  <main>
    <!-- Contenido principal de la página de inicio -->
    <h1>Bienvenido a la Comunidad de Dueños de Mascotas</h1>
    <p>
      Esta plataforma es un lugar donde los amantes de las mascotas pueden compartir experiencias, pedir consejos y conectarse con otros dueños de mascotas.
    </p>
    <!-- Otras secciones destacadas -->
  </main>
  <footer>
    <!-- Pie de página con información relevante -->
    <p>Contacto: correo@comunidadmascotas.com</p>
  </footer>
</body>
</html>