<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
     <header>
    <nav>
      <a href="/posts">Todos los posts</a>
      <a href="/posts/new-post">CREA UN POST</a>
      <a href="/posts/lost-pets">Mascotas Perdidas</a>
      <a href="/posts/adoptions">Adopciones</a>
      <a href="/posts/issues">Adopciones</a>
    </nav>
  </header>
    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>