body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f8f9fa;
}

a {
  color: #00b7ff;
}

/* Resetear margen y padding en el body y html */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
}

/* Ajustar el contenido principal para ocupar todo el espacio restante */
main {
  flex: 1;
}

.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}

.welcome-section h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.welcome-section p {
  font-size: 20px;
  line-height: 1.6;
  max-width: 600px;
  margin-bottom: 40px;
}

/* Footer sticky */
footer {
  background-color: #343a40;
  color: #fff;
  text-align: center;
  padding: 20px;
  flex-shrink: 0;
}

/* Estilos para categorías */
.category-buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.category-buttons .btn {
  margin-left: 5px;
}

.post-header {
  display: flex;
  flex-direction: column;
}

.custom-small-image {
  max-width: 40%; /* Ajusta el porcentaje según tu preferencia */
  height: auto; /* Mantén la proporción de aspecto */
}


.custom-small-image2 {
  max-width: 30%; /* Ajusta el porcentaje según tu preferencia */
  height: auto; /* Mantén la proporción de aspecto */
}

/* Estilos para cada tarjeta de post */
.card {
  margin-bottom: 20px; /* Agrega un margen inferior entre las tarjetas */
}

.row.g-0 {
  align-items: center; /* Centra verticalmente los elementos en la fila */
}

.col-md-8 {
  padding: 20px; /* Agrega un espaciado interno a la sección de contenido */
}



