<head>
  <title>Editar Publicación</title>
</head>
<body>
  <div class="container mt-5">
    <h1 class="mb-4">Editar Publicación</h1>
    <form action="/posts/{{post._id}}/edit" method="POST">
      <div class="form-group">
        <label for="title">Título:</label>
        <input type="text" id="title" name="title" class="form-control" value="{{post.title}}" required>
      </div>

      <div class="form-group">
        <label for="category">Categoría:</label>
        <select id="category" name="category" class="form-control" required>
          <option value="Adopción" {{#if (eq post.category "Adopción")}}selected{{/if}}>Adopción</option>
          <option value="Problemas en mascotas" {{#if (eq post.category "Problemas en mascotas")}}selected{{/if}}>Problemas en mascotas</option>
          <option value="Mascotas perdidas" {{#if (eq post.category "Mascotas perdidas")}}selected{{/if}}>Mascotas perdidas</option>
        </select>
      </div>

      <div class="form-group">
        <label for="content">Contenido:</label>
        <textarea id="content" name="content" rows="4" class="form-control" required>{{post.content}}</textarea>
      </div>

      <button type="submit" class="btn btn-primary btn-block mt-4">Actualizar</button>
    </form>
  </div>
</body>